body{
  background-color: green;
}
h1{
  color: darkblue;
  font: times ;
  text-align: center;
}
.my-class{
  font-size: 20px;
  margin: 0;
  font-family: sans-serif;
  background-color: red;
}
.my-place{
  background-color: skyblue;
  margin: 0;

}
